.grid-container div{
    background-color: #ccc;
    text-align: center;
    border: 1px solid black;
    display: grid;
}
.grid-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 4px;
}
.box1{
    grid-column: 1 / 4;
}
.box1 h1{
    margin-top: 0;
    margin-bottom: 0;
}
.box2{
    grid-row: 2 / 9;
}
.box2 p{
    text-align: center;
    padding: 20px;
}
.box3{
    grid-row: 2 / 5;
}
.box3 span{
    text-align: center;
    padding: 20px;
}
.box11{
    grid-column: 2 / 4; 
}
.box12{
    grid-column: 1 / 4;
}

/* images class start */
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    grid-gap: 3px;
}
.container img{
    height: 100%;
    width: 100%;
}
.silon{
    grid-column: auto / span 2;
}
.big{
    grid-column: auto / span 2;
}
.ripon{
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

/* images class end */